# Config file for Pari  -- i386 running darwin (x86-64/GMP kernel) 64-bit version

shell_q="'"
pari_release='2.13.3'
pari_release_verbose='2.13.3 (STABLE)'
version='2.13'
libpari_base='pari-gmp'
static='y'
objdir='Odarwin-i386'
arch='i386'
asmarch='x86_64'
osname='darwin'
pretty='i386 running darwin (x86-64/GMP kernel) 64-bit version'
prettyf='i386 running darwin (x86-64/GMP-%s kernel) 64-bit version'
kernlvl0='x86_64'
kernlvl1='gmp'
RT_LIBS=''
DL_LIBS=''
MT_LIBS=''
LIBS=''
dir_sep=':'
runpath='"/Users/julianalvarez/Documents/VSCODE/Smart_Symbolic_Graphing_Calculator/tools/macos/lib"'
runpathprefix=''
LDDYN='-lpari'
RUNTEST=''
ln_s='ln -s'
make_sh='/bin/sh'
sizeof_long='8'
doubleformat='-'
thread_engine='single'
enable_tls=''
runtime_perl='/usr/local/bin/perl'
gzip='/usr/bin/gzip'
cc='/usr/bin/cc'
gcc='/usr/bin/gcc'
ld='/usr/bin/ld'
perl='/usr/local/bin/perl'
zcat='/usr/bin/zcat'
test_extra_OUT='env'
test_extra_out='ploth io parallel install time'
test_extra='addprimes agm algebras alggroup alghasse alglattices algsplit analyz apply arith asymp aurifeuille bbhnf bern bessel bestappr binomial bit bnf bnfisintnorm bnflog bnfsunit bnr bnrL1 bnrclassfield bnrisgalois bnrmap character characteristic charpoly chinese cmp combinat compat concat content contfrac cxtrigo cyclo debugger deriv det diffop digits dirmul dirpowers disc div divisors ell ellanal ellff ellglobalred elliptic ellisogeny ellisomat ellissupersingular ellmodulareqn ellnf ellpadic ellpadiclambdamu ellratpoints ellsea ellseaJ elltors ellweilpairing equal err eval exact0 export extract factor factorff factorint factormod ff ffisom fflog fft forperm forsubset forvec galois galoischartable galoisinit galpol gamma gammamellininv gcdext genus2red graph help history hyperell hypergeom ideal idealappr idealramgroups incgam interpol intnum ispower isprime iterator krasner lambert language lex lfun lfunartin lfunquad lfuntype lift lindep linear list lll log logint map mat mathnf matpermanent matsnf member memory mf mfgaloisrep minim minmax modfun modpr modsym modular mscosets mspadic mspolygon multiif multivar-mul nf nfcompositum nfdiscfactors nfeltembed nfeltsign nffactor nfhilbert nfields nfislocalpower nfpolsturm nfrootsof1 nfsplitting norm number objets op orthopol padic partition perm plotexport pol polclass polmod polmodular polred polygonal polylog polyser pow prec prime print printf program programming qf qfb qfbclassno qfbsolve qfisom qfsolve quad quadclassunit quaddisc quadray ramanujantau random ranges ratpoints real resultant rfrac rnf rnfkummer rootsof1 rootsreal round round4 select self ser set size solve sort sqrtn stark str subcyclo subfields subgroup subst sumdedekind sumdiv sumformal sumiter sumnum sumnumrat thue trans trans2 valuation vararg variable version whatnow zeta zetahurwitz zetamult zn zncoppersmith'
test_basic=' objets analyz number polyser linear elliptic sumiter graph program trans nfields_200'
top_test_extra='test-addprimes test-agm test-algebras test-alggroup test-alghasse test-alglattices test-algsplit test-analyz test-apply test-arith test-asymp test-aurifeuille test-bbhnf test-bern test-bessel test-bestappr test-binomial test-bit test-bnf test-bnfisintnorm test-bnflog test-bnfsunit test-bnr test-bnrL1 test-bnrclassfield test-bnrisgalois test-bnrmap test-character test-characteristic test-charpoly test-chinese test-cmp test-combinat test-compat test-concat test-content test-contfrac test-cxtrigo test-cyclo test-debugger test-deriv test-det test-diffop test-digits test-dirmul test-dirpowers test-disc test-div test-divisors test-ell test-ellanal test-ellff test-ellglobalred test-elliptic test-ellisogeny test-ellisomat test-ellissupersingular test-ellmodulareqn test-ellnf test-ellpadic test-ellpadiclambdamu test-ellratpoints test-ellsea test-ellseaJ test-elltors test-ellweilpairing test-equal test-err test-eval test-exact0 test-export test-extract test-factor test-factorff test-factorint test-factormod test-ff test-ffisom test-fflog test-fft test-forperm test-forsubset test-forvec test-galois test-galoischartable test-galoisinit test-galpol test-gamma test-gammamellininv test-gcdext test-genus2red test-graph test-help test-history test-hyperell test-hypergeom test-ideal test-idealappr test-idealramgroups test-incgam test-interpol test-intnum test-ispower test-isprime test-iterator test-krasner test-lambert test-language test-lex test-lfun test-lfunartin test-lfunquad test-lfuntype test-lift test-lindep test-linear test-list test-lll test-log test-logint test-map test-mat test-mathnf test-matpermanent test-matsnf test-member test-memory test-mf test-mfgaloisrep test-minim test-minmax test-modfun test-modpr test-modsym test-modular test-mscosets test-mspadic test-mspolygon test-multiif test-multivar-mul test-nf test-nfcompositum test-nfdiscfactors test-nfeltembed test-nfeltsign test-nffactor test-nfhilbert test-nfields test-nfislocalpower test-nfpolsturm test-nfrootsof1 test-nfsplitting test-norm test-number test-objets test-op test-orthopol test-padic test-partition test-perm test-plotexport test-pol test-polclass test-polmod test-polmodular test-polred test-polygonal test-polylog test-polyser test-pow test-prec test-prime test-print test-printf test-program test-programming test-qf test-qfb test-qfbclassno test-qfbsolve test-qfisom test-qfsolve test-quad test-quadclassunit test-quaddisc test-quadray test-ramanujantau test-random test-ranges test-ratpoints test-real test-resultant test-rfrac test-rnf test-rnfkummer test-rootsof1 test-rootsreal test-round test-round4 test-select test-self test-ser test-set test-size test-solve test-sort test-sqrtn test-stark test-str test-subcyclo test-subfields test-subgroup test-subst test-sumdedekind test-sumdiv test-sumformal test-sumiter test-sumnum test-sumnumrat test-thue test-trans test-trans2 test-valuation test-vararg test-variable test-version test-whatnow test-zeta test-zetahurwitz test-zetamult test-zn test-zncoppersmith test-ploth test-io test-parallel test-install test-time test-env'
top_dotest_extra='dotest-addprimes dotest-agm dotest-algebras dotest-alggroup dotest-alghasse dotest-alglattices dotest-algsplit dotest-analyz dotest-apply dotest-arith dotest-asymp dotest-aurifeuille dotest-bbhnf dotest-bern dotest-bessel dotest-bestappr dotest-binomial dotest-bit dotest-bnf dotest-bnfisintnorm dotest-bnflog dotest-bnfsunit dotest-bnr dotest-bnrL1 dotest-bnrclassfield dotest-bnrisgalois dotest-bnrmap dotest-character dotest-characteristic dotest-charpoly dotest-chinese dotest-cmp dotest-combinat dotest-compat dotest-concat dotest-content dotest-contfrac dotest-cxtrigo dotest-cyclo dotest-debugger dotest-deriv dotest-det dotest-diffop dotest-digits dotest-dirmul dotest-dirpowers dotest-disc dotest-div dotest-divisors dotest-ell dotest-ellanal dotest-ellff dotest-ellglobalred dotest-elliptic dotest-ellisogeny dotest-ellisomat dotest-ellissupersingular dotest-ellmodulareqn dotest-ellnf dotest-ellpadic dotest-ellpadiclambdamu dotest-ellratpoints dotest-ellsea dotest-ellseaJ dotest-elltors dotest-ellweilpairing dotest-equal dotest-err dotest-eval dotest-exact0 dotest-export dotest-extract dotest-factor dotest-factorff dotest-factorint dotest-factormod dotest-ff dotest-ffisom dotest-fflog dotest-fft dotest-forperm dotest-forsubset dotest-forvec dotest-galois dotest-galoischartable dotest-galoisinit dotest-galpol dotest-gamma dotest-gammamellininv dotest-gcdext dotest-genus2red dotest-graph dotest-help dotest-history dotest-hyperell dotest-hypergeom dotest-ideal dotest-idealappr dotest-idealramgroups dotest-incgam dotest-interpol dotest-intnum dotest-ispower dotest-isprime dotest-iterator dotest-krasner dotest-lambert dotest-language dotest-lex dotest-lfun dotest-lfunartin dotest-lfunquad dotest-lfuntype dotest-lift dotest-lindep dotest-linear dotest-list dotest-lll dotest-log dotest-logint dotest-map dotest-mat dotest-mathnf dotest-matpermanent dotest-matsnf dotest-member dotest-memory dotest-mf dotest-mfgaloisrep dotest-minim dotest-minmax dotest-modfun dotest-modpr dotest-modsym dotest-modular dotest-mscosets dotest-mspadic dotest-mspolygon dotest-multiif dotest-multivar-mul dotest-nf dotest-nfcompositum dotest-nfdiscfactors dotest-nfeltembed dotest-nfeltsign dotest-nffactor dotest-nfhilbert dotest-nfields dotest-nfislocalpower dotest-nfpolsturm dotest-nfrootsof1 dotest-nfsplitting dotest-norm dotest-number dotest-objets dotest-op dotest-orthopol dotest-padic dotest-partition dotest-perm dotest-plotexport dotest-pol dotest-polclass dotest-polmod dotest-polmodular dotest-polred dotest-polygonal dotest-polylog dotest-polyser dotest-pow dotest-prec dotest-prime dotest-print dotest-printf dotest-program dotest-programming dotest-qf dotest-qfb dotest-qfbclassno dotest-qfbsolve dotest-qfisom dotest-qfsolve dotest-quad dotest-quadclassunit dotest-quaddisc dotest-quadray dotest-ramanujantau dotest-random dotest-ranges dotest-ratpoints dotest-real dotest-resultant dotest-rfrac dotest-rnf dotest-rnfkummer dotest-rootsof1 dotest-rootsreal dotest-round dotest-round4 dotest-select dotest-self dotest-ser dotest-set dotest-size dotest-solve dotest-sort dotest-sqrtn dotest-stark dotest-str dotest-subcyclo dotest-subfields dotest-subgroup dotest-subst dotest-sumdedekind dotest-sumdiv dotest-sumformal dotest-sumiter dotest-sumnum dotest-sumnumrat dotest-thue dotest-trans dotest-trans2 dotest-valuation dotest-vararg dotest-variable dotest-version dotest-whatnow dotest-zeta dotest-zetahurwitz dotest-zetamult dotest-zn dotest-zncoppersmith dotest-ploth dotest-io dotest-parallel dotest-install dotest-time dotest-env'
prefix='/Users/julianalvarez/Documents/VSCODE/Smart_Symbolic_Graphing_Calculator/tools/macos'
share_prefix='/Users/julianalvarez/Documents/VSCODE/Smart_Symbolic_Graphing_Calculator/tools/macos/share'
bindir='/Users/julianalvarez/Documents/VSCODE/Smart_Symbolic_Graphing_Calculator/tools/macos/bin'
datadir='/Users/julianalvarez/Documents/VSCODE/Smart_Symbolic_Graphing_Calculator/tools/macos/share/pari'
includedir='/Users/julianalvarez/Documents/VSCODE/Smart_Symbolic_Graphing_Calculator/tools/macos/include'
libdir='/Users/julianalvarez/Documents/VSCODE/Smart_Symbolic_Graphing_Calculator/tools/macos/lib'
mandir='/Users/julianalvarez/Documents/VSCODE/Smart_Symbolic_Graphing_Calculator/tools/macos/share/man/man1'
sysdatadir='/Users/julianalvarez/Documents/VSCODE/Smart_Symbolic_Graphing_Calculator/tools/macos/lib/pari'
add_funclist='yes'
__gnuc__='Apple clang version 12.0.5 (clang-1205.0.22.11)'
CC='/usr/bin/gcc'
CFLAGS='-O3 -Wall -fno-strict-aliasing -fomit-frame-pointer '
optimization='full'
DBGFLAGS='-g -Wall'
OPTFLAGS='-O3 -Wall -fno-strict-aliasing -fomit-frame-pointer'
exe_suff=''
suffix=''
ASMINLINE='yes'
KERNELCFLAGS='-funroll-loops'
LD='/usr/bin/gcc'
LDFLAGS='-O3 -Wall -fno-strict-aliasing -fomit-frame-pointer -Wl,-search_paths_first '
LIBS=''
runpathprexix=''
LDneedsWl='yes'
LDused='/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/ld'
GNULDused=''
DLCFLAGS='-fPIC'
DL_DFLT_NAME='NULL'
DLLD='/usr/bin/gcc'
DLLDFLAGS='-dynamiclib $(CFLAGS) $(DLCFLAGS) -Wl,-compatibility_version,2.13.0,-current_version,2.13.3 '
EXTRADLLDFLAGS=''
DLSUFFIX='dylib'
soname=''
sodest=''
DLLTOOL=''
which_graphic_lib='X11'
X11=''
X11_INC='-I/usr/local/include'
X11_LIBS='-lX11 '
FLTK_LIBS=''
QTDIR=''
QTLIB=''
gp_mime_open='open -W'
EXTRAMODLDFLAGS=''
MODLD='/usr/bin/gcc'
MODLDFLAGS='-bundle -undefined dynamic_lookup $(CFLAGS) $(DLCFLAGS)'
modules_build='/usr/bin/gcc -c -o %s.o -O3 -Wall -fno-strict-aliasing -fomit-frame-pointer -fPIC -I"/Users/julianalvarez/Documents/VSCODE/Smart_Symbolic_Graphing_Calculator/tools/macos/include" %s.c && /usr/bin/gcc -o %s.so -bundle -undefined dynamic_lookup -O3 -Wall -fno-strict-aliasing -fomit-frame-pointer -fPIC %s.o '
gmp='/Users/julianalvarez/Documents/VSCODE/Smart_Symbolic_Graphing_Calculator/tools/macos/lib'
GMPLIBS='-L/Users/julianalvarez/Documents/VSCODE/Smart_Symbolic_Graphing_Calculator/tools/macos/lib -lgmp'
GMPINCLUDE='-I/Users/julianalvarez/Documents/VSCODE/Smart_Symbolic_Graphing_Calculator/tools/macos/include'
has_exp2='yes'
has_log2='yes'
has_strftime='yes'
has_getrusage='yes'
has_gettimeofday='yes'
has_sigaction='yes'
has_TIOCGWINSZ='yes'
has_getrlimit='yes'
has_stat='yes'
has_vsnprintf='yes'
has_mmap='yes'
has_waitpid='yes'
has_setsid='yes'
has_getenv='yes'
has_isatty='yes'
has_alarm='yes'
has_system='yes'
has_dlopen='yes'
